<div class="container">
    <div class="burgers" id="uneaten">
        <div>
            <h2>Eat the Burgers:</h2>
        </div>
        <div class="burgerList">
            {{#each burgers}}
            {{#unless devoured}}
            <div>
                <h4>{{ name }} |
                    <button data-id="{{id}}" class="eatBurger">Yum yum</button></h4>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>
    <div class="burgers" id="eaten">
        <div>
            <h2>Devoured Burgers:</h2>
        </div>
        <div class="burgerList">
            {{#each burgers}}
            {{#if devoured}}
            <div>
                <h4>{{ name }} |
                    <button data-id="{{id}}" class="delete">DELETE</button></h4>
            </div>
            {{/if}}
            {{/each}}

        </div>
    </div>
</div>
<div>
    <div id="submitDiv">
        <h3>Add a new burger:</h3>
        <form id="submitBurger">
            <input id="burgerVal" type=text name="name">
            <button type="submit">Add Burger</button>
        </form>
    </div>
    <div class="burgerImg">
        <img class="burgerImg" src='./assets/img/burger.png'>
    </div>
</div>

<script type="text/javascript">
    $(".eatBurger").on("click", function (event) {
        var eatBurger =  $(this).data("id")
        $.ajax("/api/burgers/" + eatBurger, {
            type: "PUT",
        }).then(() => {
            location.reload()
        })
    })

    $(".delete").on("click", function (event) {
        var eatBurger =  $(this).data("id")
        $.ajax("/api/burgers/" + eatBurger, {
            type: "DELETE",
        }).then(() => {
            location.reload()
        })
    })
    $("#submitBurger").on("submit", function(event) {
        event.preventDefault();
        var newBurger = {name: $("#burgerVal").val().trim()}
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(() => {
            location.reload()
        })
        
    })
</script>