body {
    background: goldenrod;
}

.container {
    display: flex;
    background: lightgrey;
    opacity: .8;
    border: 2px black solid;
    color: forestgreen;
}

.burgers {
    background: white;
    padding: 20px;
    margin: 30px auto;
    border-radius: 12px;
    width: 30%;
    text-align: center;
    border: 2px black solid

}

#submitDiv {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 15px 0;
}

.burgerImg {
    height: 300px;
    width: 300px;
    margin: auto
}